body {
background-color: #f5d2dd;
background-image: url("https://www.transparenttextures.com/patterns/pinstripe-dark.png");
}

header {
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
}

img {
    border-radius: 50%;  
    box-shadow: black 1px 1px 8px;  
 }